html,
body {
  height: 100%;
}
body {
  font-family: "Lovely Home", sans-serif;
}
#container {
  background: url(imgs/Bricks.jpg);

  overscroll-behavior: auto contain;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  perspective: 2vw;
}
.SVG {
  width: 1500px;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
